@import "tailwindcss";

@theme {
  --font-fascinate: "Fascinate", cursive;
  --font-geist: "Geist", sans-serif;
  --color-background: #121212;
  --color-border: #27272a;
  --color-primary: #03e3b8;
  --color-secondary: #1f1f1f;
}

@layer base {
  body {
    background-color: var(--color-background);
    font-family: var(--font-geist);
  }
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body, #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}